html,body {
    height: 100%;
    width: 100%;
    font-family: PlayfairDisplay-Regular;
    margin: 0;    
}

.logo { 
    height: 91px;
    width: 82px;
    margin-left: 78px;
    margin-right: 78px;
    cursor: pointer;
} 

.opas {
    background-color: #000;
    opacity: 0.34;
    width:100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.head {
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 100px;
    width: 100%;
    position: fixed; 
}

.main {
    height: 740px;
    width: 100%;
    background-image: url(images/main.jpg);
    background-size: cover;   
}

.menu {
    z-index: 1;
}

.menu__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}
.menu__link {
    font-size: 15px;
    color: white;
    text-decoration: none;
    font-weight: 700;
}

/*изменение по ховеру*/
.menu__link:hover {
    font-weight: 900;
    color: #f5d76e;
}

.menu__item {
    margin-right: 20px;
}

h1 {
    font-family: 'Playfair Display';
    font-size: 48px;
    line-height: 28px;
    font-weight: 700;
    color: #f5d76e;
}

p {
    font-family: Lato;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #ffffff;
}

.text1 {
    padding:165px 300px ;
}

.butn__menu {
    width: 185px;
    height: 54px;
    background-color: rgba(57,49,47,0.0);
    border: 2px solid #ffffff;
    color:white;
    cursor: pointer;
}



.butfirst {
    color: white;
    text-decoration: none;
}

.butn__menu:hover {

    border: 2px solid #f5d76e;
    color: #f5d76e;
}

h2 {
    font-family: 'Playfair Display';
    font-size: 32px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #2f2f2f;
}

span {
    font-weight: 900;
    text-decoration: underline;
}

.about p {
    font-family: Lato;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #28211f;
    text-align: center; 
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
    margin-top: 143px;
}

/* Третий блок меню */ 
.menu__dush{
    height: 600px;
    width: 100%;
    position: relative;
       
}

h3 {
    font-family: 'Playfair Display';
    font-size: 32px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #2f2f2f;
    padding-bottom: 59px;
    text-align: center;
    margin-top: 50px;
}

.opastwo {
    opacity: 0.5;
    background-color: #fff;
    width:100%;
    height: 100%;
    position: absolute;
    top: 0;   
}

.menulist {
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
}
.cofe1 {
    width: 436px;
    height: 294px;
    background-color: #ececec;
    background-image: url(images/coffee.jpg);
    background-size: cover;
}

.tea2 {
    width: 438px;
    height: 295px;
    background-color: #ececec;
    background-image: url(images/tea.jpg);
    background-size: cover;
}   
   
.desert3 {
    width: 436px;
    height: 294px;
    background-image: url(images/cake.jpg);
    background-size: cover;
}

table,
p,
h3 {
    position: relative;
    z-index: 1;
}

.menulist p {
    font-family: 'Playfair Display';
    font-size: 40px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
    padding-top: 20%;
    text-align: center;
}

.pic1,
.pic2,
.pic3 {
    display: flex;
    flex-direction: column;
}

.cofe1:hover,
.desert3:hover,
.tea2:hover {
    opacity: 0.9;
    background-color: #f5d76e
}

.prices {
    padding-top: 46px;
    align-self: center;
}

.butn__menu2 {
    width: 232px;
    height: 54px;
    background-color: rgba(57,49,47,0.0);
    border: 2px solid #39312f;
    margin:0 auto;
    display: block;
    margin-top: 10px;
    font-family: Lato;
    font-size: 13px;
    line-height: 24px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #39312f;
}

.butn__menu2:hover {
    border: 2px solid #f5d76e;
    color: #f5d76e;
}
.about p{
    font-family: Lato;
    font-size: 16px;
    line-height: 24px;
    font-weight: 900;
    color: #28211f;
}

.testi,
.locat1 {
    height: 425px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.pic4 {
    width: 100%;
    height: 100%;
    background-image: url(images/feedback.jpg);
    background-size: cover;
}

.mesag {
    width: 489px;
    background-color: #39312f;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul {
    color: blanchedalmond;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mesag_menu li {
    width: 15px;
}

.boy {
    width: 84px;
    height: 84px;
    background-color: #ececec;
    border-radius: 50%;
    background-size: cover;
    clip-path: circle();
    margin-bottom: 15px;
}

h4 {
    font-family: 'Playfair Display';
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: #f5d76e;
    margin-bottom: 22px;
}

.coment {
    font-family: Lato;
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
}

/* Локация карта */
.infoloc {
    width: 489px;
    height: 100%;
    background-color: #f5d76e;
    padding-left: 60px;
}

h5 {
    font-family: 'Playfair Display';
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase;
    color: #28211f;
    margin-bottom: 15px;
}

.infoloc p {
    font-family: Lato;
    font-size: 16px;
    line-height: 28px;
    font-weight: 700;
    color: #28211f;
}

.infoloc p span {
    font-family: Lato;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #28211f;
    text-decoration: none;
}

.locatH {
    margin-top: 170px;
}

.map {
    width: 100%;
    height: 100%;
    background-size: cover;
}

.footer {
    width: 100%;
    height: 321px;
    background-color: #39312f;
    margin-top: 17px;
}

.icon {
    width: 24px;
    height: 24px;
    background: url(images/social.png) no-repeat;
    background-size: 180px;
    cursor: pointer;
}

 .fb {
    background-position: -54px -32px;      
}    

.tvit {
    background-position: -12px -32px;        
}

.inst {
    background-position: -55px -78px;   
}

.lastadress {
    font-family: Lato;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #ffffff;
    padding-top: 25px;
}

.sprit1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100px;
    margin: 0 auto;
    padding-top: 98px;
}
